<html>
<head>
  <link rel="stylesheet" type="text/css" href="">
  <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script data-main="/scripts/main" src="/requirejs/require.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <h2>Xpress test</h2>
    </div>
  </div>
</body>
</html>
